@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    TokenDash is an online retailer that operates on a bidding fee auction format 
    most widely known as penny auction site. <br/>
    The site offers a great range of products participants can choose from, 
    plus many additional benefits associated with membership, 
    like being able to purchase high-quality items at a very low cost or hours of 
    fun and entertainment.
</p>
